.sidebar {
  top: 0;
  left: 0;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: sticky;
  background-image: linear-gradient(#aa68d8, #0e4f74, #89ccf6);
}
.sidebar-logo-container {
  display: "flex";
  align-items: center;
}
.sidebar-logo-container img {
  width: 100%;
  padding: 1em 4em;
  text-align: center;
}
.sidebar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-items {
  height: 100%;
  width: 100%;
}
.sidebar-item {
  padding: 1.5em;
  padding-left: 2em;
  display: flex;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.sidebar-item:hover {
  background-color: #004b77;
}
.sidebar-item-active {
  padding: 1.5em;
  padding-left: 2em;
  display: flex;
  color: black;
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  cursor: pointer;
}
.sidebar-item-icon {
  width: 20px;
}
.sidebar-item-label {
  font-size: large;
  font-weight: 600;
  margin-left: 15px;
}
/* Footer */
.sidebar-footer {
  padding: 1.5em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
